body {
    background: linear-gradient(45deg, #283048, #859398)!important;
}
.login {
    width: 100%;
    min-height: 400px;
}

.login-img img {
    width: 100%;
    min-height: 400px;
    max-height: 400px;
}

.login .align-self-center {
    min-width: 280px;
}

/*
横线，并通过z-index：-1将or附近的横线遮盖住
*/
.text-with-hr {
    text-align: center;
    position: relative;
    z-index: 2;
}

.text-with-hr:before {
    position: absolute;
    content: '';
    top: 20px;
    left: 0px;
    width: 100%;
    border-bottom: 1px solid #d4d4d4;
    z-index: -1;
}

.text-with-hr span {
    display: inline-block;
    background: white;
    padding: 10px;
}

.login {
    padding: 0 0 0 0;
}

.input-group-append {
    max-height: 35px;
}

.row {
    padding: 120px 100px;
}